---
import Layout from "../layouts/Layout.astro";

const currentTime = new Date().toLocaleTimeString();

// Astro.response.headers.set('Cache-Control', 'public, s-maxage=60, stale-while-revalidate=30');
const { KV } = Astro.locals.runtime.env;
const cache = await KV.get("/cache/", { type: "json" });
Astro.locals.cache(10);
---

<Layout>
  <h1>ISR Page</h1>
  <h2>Updates every 5 seconds.</h2>
  <h4>{ currentTime }</h4>

  <ul>
    <li><a href="/contact" class="text-blue-700 hover:text-gray-700">Contact</a></li>
    <li><a href="/about" class="text-blue-700 hover:text-gray-700">About</a></li>
  </ul>
</Layout>
