---
import Layout from "../layouts/Layout.astro";
import { setStaleWhileRevalidateHeader } from "@project/common";

const sleep = (ms: number) => new Promise(
  resolve => setTimeout(resolve, ms));

const currentTime = new Date().toLocaleTimeString();

setStaleWhileRevalidateHeader(Astro.response,10, 5);

await sleep(500);
---

<Layout>
  <h1>SWR Page</h1>
  <h4>{ currentTime }</h4>
  <ul>
    <li><a href="/contact" class="text-blue-700 hover:text-gray-700">Contact</a></li>
    <li><a href="/about" class="text-blue-700 hover:text-gray-700">About</a></li>
  </ul>
</Layout>
